<div *ngIf="!shouldHideHomeComponent()" class="container">
    <div class="search-container">    
        <input 
          class="search-input"
          type="text" 
          placeholder="Recherchez un livre par son titre, son auteur ou son genre, ....." 
          [(ngModel)]="searchTerm"
          (input)="onSearch()">
      </div>

    <div *ngIf="!shouldHideImage()" class="img_intro">
        <img src="https://github.com/Carole-PIGNA/Images/blob/main/li%20(1).png?raw=true" alt="banniere">
    </div>
    <h2> Liste des livres de la bibliothèque</h2>
    <div *ngIf="livreList && livreList.length > 0; else noData">
        <ul>
            <li *ngFor="let livre of filteredBooksList">
                <div>
                    <img [src]="getImageUrl(livre.imagePath)" alt="{{ livre.title }}" style="width: 100px; height: auto;">
                    <h3>{{ livre.title }} by {{ livre.author }}</h3>
                    <p>Publication Date: {{ livre.pub_date | date }}</p>
                    <p>Genre: {{ livre.genre }}</p>
                
                </div>

            </li>
        </ul>
    </div>
    <ng-template #noData>
        <p>No books available.</p>
    </ng-template>
    <div *ngIf="!filteredBooksList.length">
        Loading...
    </div>
</div>
  